/* Style the form */

  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
  }
  
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
  }
  
  form {
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #7f5539;
    border-radius: 10px;
    background-color: #c3a995;
  }
  
  label {
    display: inline-block;
    width: 100px;
    text-align: right;
    margin-right: 10px;
    color: #fff;
  }
  
  input[type="number"] {
    width: 150px;
    padding: 5px;
    border: 1px solid #cccccc;
    border-radius: 5px;
  }
  
  button {
    margin-top: 10px;
    padding: 10px 10px;
    border-radius: 5px;
    background-color: #3f7d20;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #72b01d;
  }
  
  input[type="number"][readonly] {
    background-color: #ddd;
  }
  
  /* Style the error message */
  #error-message {
    color: #e70e02;
    display: none;
    margin-top: 10px;
  }