/* Style the form */

  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
  }
  
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
  }
  
  .calcimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }

  form {
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #7f5539;
    border-radius: 10px;
    background-color: #c3a995;
  }
  
  label {
    display: inline-block;
    width: 100px;
    text-align: right;
    margin-right: 10px;
    color: #fff;
  }
  
  input[type="number"] {
    width: 150px;
    padding: 5px;
    border: 1px solid #cccccc;
    border-radius: 5px;
  }
  
  button {
    margin-top: 10px;
    padding: 10px 10px;
    border-radius: 5px;
    background-color: #058c42;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #16db65;
  }

  .reset {
    margin-top: 10px;
    padding: 10px 10px;
    border-radius: 5px;
    background-color: #c00021;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .reset:hover {
    background-color: #ff002b;
  }


  .gohome {
    margin-top: 10px;
    padding: 10px 10px;
    border-radius: 5px;
    background-color: #072ac8;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .gohome:hover {
    background-color: #1e96fc;
  }

  
  input[type="number"][readonly] {
    background-color: #ddd;
  }

  @media only screen and (max-width: 600px) {
    div.example {
      display: none;
    }
  }